.features{
    min-height: 100vh;
    padding: 0 6rem;
    margin-bottom: 4rem;

    &__main{
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(6,1fr);
        row-gap: 8rem;
        column-gap: 8rem;
    }
}

.feature{
    border-radius: 2rem;
    background-color: var(--color-text);
    box-shadow: 0 0.2rem 2rem  rgba(38, 38, 38, 0.09);
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    position: relative;

    &__para{
    font-size: clamp(1.6rem, 1rem + 1vw, 2rem);
    font-weight: 500;
    color: var(--color-grey-400);
    line-height: 1.4;

    &--light{
        color: var(--color-secondary-100);
    }
    }

    &__img--1{
        width: 30rem;
        position: absolute;
        top: -2%;
        right: 20%;
    }

    &__img--2{
        position: absolute;
        top: -22%;
        right: -8%;
    }

    &__img--3,
    &__img--4
    {
        width: 25rem;
        position: absolute;
        top: 0;
        left: 30%;
    }

    &__img--4{
        top: 7%;
    }

    &__img--5{
        width: 35rem;
        left: 10%;
    }

    

    &--1
    {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &--3
    {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &--2{
        grid-row: 2 / 5;
        background-color: #fff;
    }

    &--3{
        grid-row:5/-1;
    }

    &--4{
        grid-row:2/4;
        background-color: #fff;
    }

    &--5{
        grid-row:4/-1;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background-color: var(--color-secondary-500);
        padding-bottom:2rem;
    }

    &--6{
        grid-row:1/4;
        background-color: var(--color-primary-500);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &--7{
        grid-row:4/-1;
        background-color: var(--color-grey-800);
        --color-text:#fafafa;
        padding-bottom: 1rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &--8{
        grid-row:6/-1;
    }
}