@use "../../sass/mixin" as a;

.newtodo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  padding: 2rem;

  @include a.respond(tab-port) {
    align-items: center;
  }

  @include a.respond(phone) {
    align-items: stretch;
  }

  &__header {
    display: flex;
    gap: 3rem;
    @include a.respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
    @include a.respond(phone) {
      align-items: stretch;
    }
  }

  &__label {
    font-size: clamp(2rem, 1rem + 1vw, 3.2rem);
    font-weight: 500;
    color: var(--color-grey-500);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    @include a.respond(tab-port) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include a.respond(phone) {
      align-items: stretch;
    }
  }

  &__textarea {
    @include a.respond(tab-port) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include a.respond(phone) {
      align-items: stretch;
    }
  }

  &__input {
    font-family: inherit;
    border: 1px dashed var(--color-grey-400);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-grey-600);
    padding: 1rem;

    &::placeholder {
      color: var(--color-grey-400);
    }
  }
}

textarea {
  resize: none;
  @include a.respond(tab-port) {
    width: 70%;
  }
  @include a.respond(phone) {
    width: 100%;
  }
}
