.error {
  height: 100vh;
  padding: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  opacity: 0.8;
  background-image: linear-gradient(#bcbcbc 3.1px, transparent 3.1px),
    linear-gradient(to right, #bcbcbc 3.1px, #ffffff 3.1px);
  background-size: 62px 62px;

  &__heading {
    font-size: clamp(4rem, 5rem + 5vw, 10rem);
    color: #ef4444;
    font-weight: 700;
    letter-spacing: 1px;
  }

  &__para {
    font-size: clamp(3rem, 1rem + 0.5vw, 3.2rem);
    font-weight: 500;
    color: var(--color-primary-500);

    & span {
      font-weight: 700;
      color: var(--color-grey-600);
    }
  }
}
