@use "../sass/mixin" as a;

.form {
  &__container {
    margin: 4rem auto;
    display: grid;
    place-items: center;
    padding: 4rem;
    row-gap: 6rem;
    width: 40%;
    background-color: var(--form-bg-color);
    box-shadow: var(--box-shadow-light);
    border-radius: 3.6rem;
    position: relative;
    z-index: 1000;

    @media only screen and (width<1400px) {
      width: 60%;
    }

    @include a.respond(tab-land) {
      width: 70%;
    }

    @include a.respond(tab-port) {
      width: 90%;
    }

    @include a.respond(phone) {
      padding: 2rem;
      margin: 2rem auto;
    }
  }

  &__image {
    position: absolute;
    mix-blend-mode: screen;
    z-index: -1;

    @include a.respond(tab-land) {
      width: 20rem;
    }

    @include a.respond(tab-port) {
      width: 15rem;
    }
    @include a.respond(phone) {
      width: 10rem;
    }

    &--left {
      bottom: 0%;
      left: -30%;
      @include a.respond(tab-land) {
        left: -17%;
      }
      @include a.respond(tab-port) {
        left: -8%;
      }
    }

    &--right {
      bottom: 0%;
      right: -30%;
      @include a.respond(tab-land) {
        right: -17%;
      }
      @include a.respond(tab-port) {
        right: -8%;
      }
    }
  }

  & > * {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  display: flex;
  flex-direction: column;
  gap: 6rem;
  width: 90%;

  &__button {
    align-self: center;
    padding: 2rem 3.5rem;
    font-size: clamp(1.7rem, 1rem + 1vw, 2.4rem);
    font-weight: 700;
    color: var(--color-primary-50);
    border: none;
    border-radius: 3.6rem;
    background-image: linear-gradient(
      to right,
      var(--color-primary-500) 60%,
      var(--color-secondary-500)
    );

    &:hover {
      cursor: pointer;
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}
