.homecards__container {
  padding: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, min-content));
  justify-content: center;
  justify-items: center;
  column-gap: 12rem;
  row-gap: 8rem;
}
