@use "../sass/mixin" as a;

.todo {
  &__prev {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 6rem;
    @include a.respond(tab-port) {
      padding: 1rem;
    }

    @include a.respond(phone) {
      padding: 0.5rem;
    }
    &--title,
    &--subtitle {
      font-size: clamp(2rem, 2rem + 1vw, 6rem);
      font-weight: 500;
      color: var(--color-grey-400);
      text-transform: uppercase;
    }

    &--subtitle {
      text-transform: none;
      color: var(--color-grey-300);
      margin-bottom: 2rem;
    }
  }

  &__dueDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: clamp(1.6rem, 1rem + 0.5vw, 2rem);
    color: #fafafa;
    font-weight: 700;
    transform: translate(-50%, 0);

    @include a.respond(tab-port) {
      position: relative;
      bottom: 0;
      left: 0;
      transform: translate(0, 0);
      margin-top: 2rem;
    }

    &--date {
      background-color: #fafafa;
      padding: 1rem;
      border-radius: 11px;
      color: var(--color-primary-500);
    }
  }

  &__addButton {
    border: none;
    font-size: clamp(4rem, 4rem + 2vw, 10rem);
    padding: 2rem;
    background-color: var(--color-secondary-500);
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }

  &__editBtn {
    margin-left: auto;
    border: none;
    font-size: clamp(2rem, 1rem + 0.5vw, 2.4rem);
    font-weight: 700;
    color: var(--color-primary-600);
    background-color: var(--color-primary-200);
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 11px;
    box-shadow: var(--box-shadow-light);
    cursor: pointer;

    @include a.respond(phone) {
      margin-left: 0;
    }

    &--delete {
      margin-left: 1rem;
      position: absolute;
      top: -2%;
      right: 50%;
      transform: translate(50%, 0);
      z-index: 100;
    }
  }

  &__footer--addBtn {
    display: flex;
    justify-content: center;
  }

  &__section {
    text-align: center;
    padding: 1rem;
  }

  &__slider {
    &--label {
      display: flex;
      gap: 2rem;
      align-items: center;
      color: var(--color-grey-400);
      font-size: clamp(1.7rem, 1rem + 0.5vw, 2rem);
    }
  }

  &__container {
    margin-top: 8rem;
    padding: 4rem;
    display: flex;
    gap: 6rem;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 4rem;

    @include a.respond(tab-port) {
      padding: 1rem;
    }

    @include a.respond(phone) {
      padding: 0.5rem;
    }
  }

  &__container--item {
    // flex: 1 1 40rem;
    flex: 1 1 100%;
    box-shadow: var(--box-shadow-light);
    border-radius: 11px;
    padding: 2rem 4rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: var(--color-bg);
  }

  &__priority {
    flex: 0 0 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #e11d48;
    box-shadow: var(--box-shadow-light);

    // @include a.respond(phone) {
    //   flex: 0 0 0.5rem;
    //   border-radius: 0;
    //   width: 100%;
    //   height: 1px;
    //   border-radius: 11px;
    // }
  }

  &__title {
    font-size: clamp(2.4rem, 1rem + 2vw, 3.2rem);
    font-weight: 700;
    letter-spacing: 0.75px;
    color: var(--color-text);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.2;
    gap: 4rem;

    @include a.respond(tab-port) {
      flex-direction: column;
      gap: 2rem;
    }
  }

  &__content {
    margin-right: auto;
    @include a.respond(tab-port) {
      margin-right: 0;
    }
  }

  &__desc {
    font-size: clamp(2rem, 1rem + 1vw, 2.4rem);
    font-weight: 500;
    color: var(--color-grey-500);
    line-height: 1.5;
    text-align: left;
    margin-bottom: 4rem;
  }

  &__footer {
    text-align: left;
    width: 100%;
    position: relative;

    &--btn {
      margin-top: 5rem;
    }

    & aside {
      display: flex;
      gap: 2rem;
      align-items: center;

      @include a.respond(phone) {
        flex-direction: column;
      }
    }
  }

  &__change {
    font-size: clamp(1.6rem, 1rem + 0.5vw, 1.8rem);
    color: var(--color-grey-100);
    font-weight: 700;
  }

  &__color {
    width: 50px;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 11px;
  }

  &__recurr {
    font-size: 2rem;
    font-weight: 500;
    background-color: var(--color-secondary-200);
    color: var(--color-secondary-600);
    padding: 1rem;
    border-radius: 11px;
    margin-left: auto;
    margin-right: 0;

    @include a.respond(tab-port) {
      margin: 0;
    }
  }
}

/***** Track Styles *****/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  border-radius: 11px;
  background-color: var(--color-primary-200);
  box-shadow: var(--box-shadow-light);
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 10px;
  border-radius: 11px;
  background-color: var(--color-primary-200);
  box-shadow: var(--box-shadow-light);
}

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -6px; /* Centers thumb on the track */
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-primary-500);
}

/***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: var(--color-primary-500);
}
