.delete {
  &__todo {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }

  &__btn {
    font-size: 1.7rem;
    font-weight: 500;
    background-color: #ef4444;
    color: #fafafa;
    border: none;
    padding: 1rem 2rem;
    border-radius: 11px;
  }
}
